

.header {
    background-color: #F55A5A;
    color: white;
    width: 100%;
    height: 6.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-globe {
    width: 2.5rem;
}
.header-text {

    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 0.7rem;
    letter-spacing: -0.1rem;
}

/*-------------------Card---------------------*/

.card-image {
    width: 12.5rem;
    height: 16.8rem;
    border-radius: 1rem;
}
.point-card {

}
.card-country {
    
}
.google {
    color:#918E9B;
    font-size: 1.3rem;
}

.card-place {

}

.card-date {

}
.card-text {

}